.current__listing {
  // width: 79%;
  // width: 100%;
  overflow: hidden;
  background: $offWhite;
  &__info {
    // min-height: 58vh;
    display: flex;
  }
  // Current Image section
  &__images {
    width: 50%;
    padding: 20px 10px 20px 20px;
    .image__main {
      background: grey;
      border-radius: 5px;
      height: 450px;
      margin-bottom: 25px;
    }
    .image__sub {
      display: flex;
      justify-content: space-between;
      &__option {
        // display: inline-block;
        width: 32%;
        height: 150px;
        background: green;

        border-radius: 5px;
      }
    }
  }
  //   Current Details section
  &__details {
    width: 50%;
    padding: 20px 20px 20px 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .details__info {
      margin-bottom: 30px;
      &__price {
        color: #191921;
        display: block;
        font-size: 1.5rem;
        font-weight: 800;
        margin-bottom: 10px;
      }
      &__location {
        color: #7a7b7f;
        font-weight: 700;
      }
    }
    .details__plan {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      color: #7a7b7f;
      &__bedroom {
      }
      &__bathroom {
      }
      &__squarefoot {
      }
      &__amount {
        color: #191921;
        font-size: 1.5rem;
        margin-top: 10px;
      }
    }
    .details__description {
      margin-bottom: 30px;
      &__title {
        display: block;
        font-size: 1.2rem;
        color: #2b3c43;

        font-weight: 700;
        margin-bottom: 10px;
      }
      p {
        font-size: 0.9rem;
        font-weight: 500;
        color: #7a7b7f;
      }
    }
    .details__nearby {
      max-width: 100%;
      width: 80%;
      &__title {
        color: #2b3c43;
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 0;
      }
      i {
        background: #ebefee;
        color: #2b3c43;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      &__spot {
        color: #7a7b7f;
        margin-top: 10px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__amount {
        color: #191921;
        font-weight: 600;
        float: right;
      }
    }
  }
}

/* laptop size Responsive */
@media (max-width: 1440px) {
  .current__listing {
    &__info {
      display: flex;
    }
    // Current Image section
    &__images {
      .image__main {
        height: 300px;
      }
      .image__sub {
        &__option {
          height: 100px;
        }
      }
    }
  }
}

/* Tablet Responsive */
@media (max-width: 991px) {
}

/* Large-Phones Responsive */
@media (max-width: 767px) {
  .current__listing {
    width: 100%;
    &__info {
      flex-direction: column;
      padding: 20px;
    }
    &__images {
      width: 100%;
      .image__main {
        height: 250px;
      }
      .image__sub__option {
        height: 84px;
      }
    }
    &__details {
      width: 100%;
    }
  }
}

/* Small-Phones Responsive */
@media (min-width: 1px) and (max-width: 575px) {
}
