header {
  // background: #0c002b;
  background: rgba(78, 2, 229, 0.8);
  color: #ffffff;
  overflow: auto;
  padding: 15px 15px;
  .navigation {
    .logo {
      float: left;
      color: #ffffff;
      font-size: 20px;
      &__icon {
        width: 24px;
        filter: invert(1);
        margin-right: 5px;
      }
    }
    nav {
      float: right;
      display: flex;
      a {
        color: #ffffff;
        font-size: 0.9rem;
        font-weight: 300;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: capitalize;
        transition: all 0.2s ease-in-out;
        &:hover {
          // color: $pink;
          border-radius: 5px;
          background-color: hsla(0, 0%, 80%, 0.4);
        }
        &.register-btn {
          // background: $pink;
          background-color: hsla(0, 0%, 100%, 1);
          color: $customBlack;
          font-weight: 500;
          padding: 10px 25px;
          text-align: center;
          border-radius: 5px;
          margin-left: 10px;
          // transition: all 0.2s ease-in-out;
          &:hover {
            color: #f95a47;
          }
        }
      }
    }
  }

  /*Mobile Menu*/
  .mobileNav {
    &__hamburger-menu {
      display: none;
    }
    .logo {
      display: none;
      float: left;
      color: #ffffff;
      font-size: 20px;
      &__icon {
        width: 24px;
        filter: invert(1);
        margin-right: 5px;
      }
    }
    nav {
      float: right;
      a {
        display: none;
        color: #ffffff;
        font-size: 0.9rem;
        font-weight: 300;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: capitalize;
        &:hover {
          color: $pink;
        }
      }
    }
  }
  .mobileNav__menu {
    background: black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding: 20px;
    .logo {
      font-size: 1.8rem;
      text-align: center;
      &__icon {
        width: 24px;
        filter: invert(1);
        margin-right: 5px;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
    }
    &__nav {
      margin-top: 30px;
      li {
        margin-bottom: 1rem;
        border-bottom: 1px solid;
        a {
          color: #fff;
          display: block;
          font-size: 1.2rem;
          text-decoration: none;
          padding: 10px;
        }
      }
    }
  }
}

/* Tablet Responsive */
@media (max-width: 991px) {
  header {
    .navigation {
      display: none;
    }
    .mobileNav {
      &__hamburger-menu {
        display: block;
        float: left;
        font-size: 20px;
        margin-right: 15px;
        cursor: pointer;
      }
      .logo {
        display: block;
      }
      nav {
        a {
          display: block;
        }
      }
      &__menu {
        // display: none;
        .fa-times {
          font-size: 35px;
        }
        .logo {
          float: none;
        }
      }
    }
  }
}

/* Large-Phones Responsive */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Small-Phones Responsive */
@media (min-width: 1px) and (max-width: 575px) {
}
